<div class="container mx-auto p-6">
  <div
    class="bg-white shadow-xl rounded-lg p-8 max-w-4xl mx-auto border border-gray-200"
  >
    <form [formGroup]="retentionForm" (ngSubmit)="onSubmit()">
      <h1 class="text-3xl font-bold mb-8 text-gray-800 text-center">
        Responsable de Retención
      </h1>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
        <div class="relative">
          <label class="block text-sm font-medium text-gray-700 mb-2"
            >Nombre</label
          >
          <input
            type="text"
            formControlName="nombreResponsable"
            placeholder="Escribe el nombre"
            class="border border-gray-300 p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 shadow-sm"
          />
          <span
            *ngIf="
              retentionForm.get('nombreResponsable')?.invalid &&
              retentionForm.get('nombreResponsable')?.touched
            "
            class="text-sm text-red-600"
          >
            El nombre es requerido.
          </span>
        </div>
        <div class="relative">
          <label class="block text-sm font-medium text-gray-700 mb-2"
            >N° de Retención</label
          >
          <input
            type="text"
            formControlName="numeroRetencion"
            placeholder="Escribe el número de retención"
            class="border border-gray-300 p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 shadow-sm"
          />
          <span
            *ngIf="
              retentionForm.get('numeroRetencion')?.invalid &&
              retentionForm.get('numeroRetencion')?.touched
            "
            class="text-sm text-red-600"
          >
            El número de retención es requerido y no debe exceder 5 números.
          </span>
        </div>
        <div class="relative">
          <label class="block text-sm font-medium text-gray-700 mb-2"
            >Periodo Fiscal</label
          >
          <select
            id="select-example"
            formControlName="periodoFiscal"
            class="w-full px-3 py-3 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 transition duration-200"
          >
            <option value="" disabled selected>Selecciona un Periodo</option>
            <option
              *ngFor="let periodo of periodoFiscal"
              [value]="periodo.value"
            >
              {{ periodo.value }}
            </option>
          </select>
          <span
            *ngIf="
              retentionForm.get('periodoFiscal')?.invalid &&
              retentionForm.get('periodoFiscal')?.touched
            "
            class="text-sm text-red-600"
          >
            El periodo fiscal es requerido.
          </span>
        </div>
      </div>

      <h1 class="text-3xl font-bold mb-6 text-gray-800">Datos Fiscales</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
        <div class="relative">
          <label class="block text-sm font-medium text-gray-700 mb-2"
            >Nombre Fiscal</label
          >
          <input
            type="text"
            formControlName="nombreFiscal"
            placeholder="Escribe el nombre fiscal"
            class="border border-gray-300 p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 shadow-sm"
          />
          <span
            *ngIf="
              retentionForm.get('nombreFiscal')?.invalid &&
              retentionForm.get('nombreFiscal')?.touched
            "
            class="text-sm text-red-600"
          >
            El nombre fiscal es requerido.
          </span>
        </div>
        <div class="relative">
          <label class="block text-sm font-medium text-gray-700 mb-2"
            >RIF</label
          >
          <input
            type="text"
            formControlName="rif"
            placeholder="Escribe el RIF"
            class="border border-gray-300 p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 shadow-sm"
          />
          <span
            *ngIf="
              retentionForm.get('rif')?.invalid &&
              retentionForm.get('rif')?.touched
            "
            class="text-sm text-red-600"
          >
            El RIF es requerido y debe seguir el formato correcto V-000000 ó
            j-0000000
          </span>
        </div>
        <div class="relative md:col-span-2">
          <label class="block text-sm font-medium text-gray-700 mb-2"
            >Dirección Fiscal</label
          >
          <input
            type="text"
            formControlName="direccionFiscal"
            placeholder="Escribe la dirección fiscal"
            class="border border-gray-300 p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 shadow-sm"
          />
          <span
            *ngIf="
              retentionForm.get('direccionFiscal')?.invalid &&
              retentionForm.get('direccionFiscal')?.touched
            "
            class="text-sm text-red-600"
          >
            La dirección fiscal es requerida.
          </span>
        </div>
      </div>

      <h1 class="text-3xl font-bold mb-6 text-gray-800">Operaciones</h1>
      <fieldset
        class="relative z-0 w-full p-2 mb-6 border border-gray-300 rounded-lg bg-gray-50"
      >
        <legend
          class="absolute text-gray-500 transform scale-75 -top-4 origin-0"
        >
          Selecciona una opción
        </legend>
        <div class="block pt-4 pb-2 space-x-6">
          <label class="flex items-center">
            <input
              type="radio"
              formControlName="retencion"
              value="1"
              class="mr-2 text-black border-gray-300 focus:border-gray-300 focus:ring-black"
            />
            Retener I.V.A
          </label>
          <label class="flex items-center">
            <input
              type="radio"
              formControlName="retencion"
              value="2"
              class="mr-2 text-black border-gray-300 focus:border-gray-300 focus:ring-black"
            />
            Retener I.S.L.R
          </label>
        </div>
        <span
          *ngIf="
            retentionForm.get('retencion')?.invalid &&
            retentionForm.get('retencion')?.touched
          "
          class="text-sm text-red-600"
        >
          Debes seleccionar una opción.
        </span>
      </fieldset>

      <!-- Sección específica para ISLR -->
      <div
        *ngIf="retentionForm.get('retencion')!.value === '2'"
        class="bg-green-100 border-l-4 border-green-500 p-4 mb-6"
      >
        <h1 class="text-2xl font-semibold mb-6 text-gray-900">
          Retención de ISLR
        </h1>
        <p class="text-sm text-gray-700 mb-2">
          Genera la retención correspondiente al ISLR. Completa la información
          requerida a continuación.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
          <div class="relative">
            <label class="block text-sm font-medium text-gray-700 mb-1"
              >N° de Factura ISLR</label
            >
            <input
              type="number"
              formControlName="facturaISLR"
              placeholder="N° de Factura"
              class="border border-gray-300 p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-green-600"
            />
          </div>
          <div class="relative">
            <label class="block text-sm font-medium text-gray-700 mb-1"
              >Base Imponible ISLR</label
            >
            <input
              type="number"
              formControlName="baseImponibleISLR"
              placeholder="Escribe la base imponible para ISLR"
              class="border border-gray-300 p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-green-600"
            />
            <span
              *ngIf="
                retentionForm.get('baseImponibleISLR')?.invalid &&
                retentionForm.get('baseImponibleISLR')?.touched
              "
              class="text-sm text-red-600"
            >
              La base imponible ISLR es requerida.
            </span>
            <label class="block text-sm font-medium text-gray-700 mb-1"
              >Porcentaje de Retención ISLR</label
            >
            <select
              formControlName="porcentajeISLR"
              class="w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500"
            >
              <option value="" disabled selected>
                Selecciona un porcentaje
              </option>
              <option
                *ngFor="let retention of islrOptions"
                [value]="retention.value"
              >
                {{ retention.label }}
              </option>
            </select>
            <span
              *ngIf="
                retentionForm.get('porcentajeISLR')?.invalid &&
                retentionForm.get('porcentajeISLR')?.touched
              "
              class="text-sm text-red-600"
            >
              El porcentaje de retención ISLR es requerido.
            </span>
          </div>
        </div>
      </div>



      <h1 class="text-3xl font-bold mb-6 text-gray-800">Facturas</h1>
      <button
        type="button"
        (click)="addFactura()"
        class="bg-blue-500 text-white transition duration-200 flex items-center px-4 py-2 rounded-lg shadow-lg hover:bg-blue-600 mb-4"
      >
        <span class="material-icons mr-1">add</span>
        Añadir Factura
      </button>

      <div formArrayName="facturas">
        <div
          *ngFor="let factura of facturas.controls; let i = index"
          [formGroupName]="i"
          class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6 relative"
        >
          <div class="absolute top-0 right-0">
            <button
              type="button"
              (click)="removeFactura(i)"
              class="bg-red-500 text-white p-0 rounded-full hover:bg-red-600 focus:ring-2 focus:ring-red-400 focus:outline-none transition duration-200"
              title="Eliminar Factura"
              style="
                width: 36px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
              "
            >
              <span class="material-icons" style="font-size: 20px">delete</span>
            </button>
          </div>
          <div class="relative md:col-span-3">
            <span class="font-bold">Factura: {{ i + 1 | number : "2.0" }}</span>
          </div>

          <div class="relative">
            <label class="block text-sm font-medium text-gray-700 mb-2"
              >Nº de Factura</label
            >
            <input
              type="string"
              formControlName="numeroFactura"
              placeholder="Escribe el número de factura"
              class="border border-gray-300 p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 shadow-sm"
            />
            <span
              *ngIf="
                factura.get('numeroFactura')?.invalid &&
                factura.get('numeroFactura')?.touched
              "
              class="text-sm text-red-600"
            >
              El número de factura es requerido.
            </span>
          </div>

          <div class="relative">
            <label class="block text-sm font-medium text-gray-700 mb-2"
              >Nº de Control</label
            >
            <input
              type="string"
              formControlName="numeroControl"
              placeholder="Escribe el número de factura"
              class="border border-gray-300 p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 shadow-sm"
            />
            <span
              *ngIf="
                factura.get('numeroFactura')?.invalid &&
                factura.get('numeroFactura')?.touched
              "
              class="text-sm text-red-600"
            >
              El número de control es requerido.
            </span>
          </div>

          <div class="relative">
            <label class="block text-sm font-medium text-gray-700 mb-2"
              >Base Imponible</label
            >
            <input
              type="number"
              formControlName="baseImponible"
              placeholder="Escribe la base imponible"
              class="border border-gray-300 p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 shadow-sm"
            />
            <span
              *ngIf="
                factura.get('baseImponible')?.invalid &&
                factura.get('baseImponible')?.touched
              "
              class="text-sm text-red-600"
            >
              La base imponible es requerida y debe ser un valor positivo.
            </span>
          </div>

          <div class="relative">
            <label class="block text-sm font-medium text-gray-700 mb-2"
              >IVA (%)</label
            >
            <select
              formControlName="ivaRate"
              class="w-full px-3 py-3 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 transition duration-200"
            >
              <option *ngFor="let option of ivaOptions" [value]="option.value">
                {{ option.label }}
              </option>
            </select>
          </div>

          <div class="relative">
            <label class="block text-sm font-medium text-gray-700 mb-2"
              >Retención (%)</label
            >
            <select
              formControlName="porcentaje"
              class="w-full px-3 py-3 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 transition duration-200"
            >
              <option
                *ngFor="let retention of ivaRetention"
                [value]="retention.value"
              >
                {{ retention.label }}
              </option>
            </select>
            <span
              *ngIf="
                factura.get('porcentaje')?.invalid &&
                factura.get('porcentaje')?.touched
              "
              class="text-sm text-red-600"
            >
              El porcentaje de retención es requerido y debe estar entre 0 y
              100.
            </span>
          </div>

          <div class="relative">
            <label class="block text-sm font-medium text-gray-700 mb-2"
              >Fecha de Factura</label
            >
            <input
              type="date"
              formControlName="fechaFactura"
              class="border border-gray-300 p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 shadow-sm"
            />
            <span
              *ngIf="
                factura.get('fechaFactura')?.invalid &&
                factura.get('fechaFactura')?.touched
              "
              class="text-sm text-red-600"
            >
              La fecha de la factura es requerida.
            </span>
          </div>
        </div>
      </div>

      <div class="mt-8 flex justify-between">
        <button
          class="bg-gray-400 text-white p-3 rounded-lg shadow-lg hover:bg-blue-600 transition duration-200"
          (click)="onSubmit()"
        >
          Calcular Impuestos
        </button>
      </div>
    </form>
  </div>
</div>

  <app-summary
  [totalInvoiced]="totalInvoiced"
  [totalIVA]="totalIVA"
  [totalPayd]="totalPayd"
  [showModal]="showModal"
  (printRetention)="printRetention()"
  (closeModalEvent)="closeModal()"
  ></app-summary>


